@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.App {
  background-color: black;
}

body {
  /* background-color: black; */
  
  font-family: 'Peddana', serif;
}

.header-item {
  border: 1px solid pink;

  background: lightblue;
  color: white;
  height: 700px;
}